.Main {
	width: 60%;

	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #212121;
	margin-top: 40px;
	padding-bottom: 20px;
	border-radius: 0.4rem;
}
@media screen and (max-width: 960px) {
	.Main {
		width: 100%;
	}
}
