@font-face {
	font-family: "IRANSans";
	src: local("IRANSans"),
		url(./Fonts/IRANSans/eot/IRANSansWeb.eot) format("embedded-opentype"),
		url(./Fonts/IRANSans/woff2/IRANSansWeb.woff2) format("woff2"),
		url(./Fonts/IRANSans/woff/IRANSansWeb.woff) format("woff"),
		url(./Fonts/IRANSans/ttf/IRANSansWeb.ttf) format("truetype");
}
* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	direction: rtl;
	font-family: IRANSans;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
